<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=2.0.8.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a" />
  </configSections>
  <log4net configSource="log4Net.config" />-->
  <connectionStrings>
    <!--<add name="SqlConnection" connectionString="Data Source=SGZ-IN01142\SQLEXPRESS;Initial Catalog=OrderManagement;Integrated Security=True;"/>-->
    <!--<add name="SqlConnection" connectionString="Data Source=52.172.199.4;Initial Catalog=OrderManagement;Persist Security Info=True;User ID=testomt;Password=Adminomt@2020"/>-->
    <add name="SqlConnection" connectionString="Data Source=106.51.136.135;Initial Catalog=OrderManagement_Prod;Persist Security Info=True;User ID=sa;Password=Adminomt@2020"/>

  </connectionStrings>
  <appSettings>
    <add key="url" value="http://106.51.136.135:8080"/>
    <add key="CompanyHeader" value="SLPP RENEW LLP"/>
	<add key="CompanyAddressLine" value="Regd Office : No 48/A, 1st Floor, 2nd Main Road, 32nd Cross, Jayanagar 7th Block, Bengaluru-560070"/>
    <add key="CompanyName" value="M/s. SLPP RENEW LLP"/>
    <add key="CompanyAddressLine1" value="Factory : No. 22/985, Raghavana Palya, 9th Phase"/>
    <add key="CompanyAddressLine2" value="JP nagar, Bangalore-560083, Karnataka, India"/>
    <add key="CompanyContactNo" value="Contact: +919972959032"/>
    <add key="To" value="To"/>
    <add key="Materials" value="Materials to be delivered at"/>
    <add key="Header" value="PURCHASE ORDER"/>
    <add key="IndentHeader" value="MATERIAL INDENT FORM"/>
    <add key="Info" value="Information"/>
    <add key="PONo" value="Purchase Order No"/>
    <add key="IndentNo" value="Indent No"/>
    <add key="PODate" value="Purchase Order Date"/>
    <add key="IDate" value="Indent Date"/>
    <add key="RefNo" value="Reference No"/>
    <add key="RefDate" value="Reference Date"/>
    <add key="Attn" value="Kind Attention"/>
    <add key="Remarks" value="Remarks"/>
    <add key="GSTNo" value="29ADLFS3926P1Z5"/>
    <add key="IECNo" value="ADLFS3926P"/>
    <add key="Page" value="Page"/>
    <add key="Words" value="In Words"/>
    <add key="SubTotal" value="Sub-Total"/>
    <add key="GST" value="GST @ 18%"/>
    <add key="FinalTotal" value="Final Total"/>
    <add key="Suppliers" value="SUGGESTED SUPPLIERS: To be filled by Purchase Officer."/>
    <add key="Specs" value="SPECIFICATIONS AND CONSIDERATIONS :"/>
    <add key="Materials" value="MATERIALS"/>
    <add key="Remarks" value="REMARKS :"/>
    <add key="Date" value="DATE :"/>
    <add key="Project" value="PROJECT :"/>
    <add key="WBS" value="Related WBS No."/>
    <add key="IndentDate" value="Indent Date :"/>
    <add key="IndentNo" value="Indent No :"/>
    <add key="PM" value="PROJECT MANAGER"/>
    <add key="Procurement" value="PROCUREMENT"/>
    <add key="PM1" value="PLANNING MANAGER"/>
    <add key="Terms" value="Terms and Conditions"/>
    <add key="Terms1" value="1. Price basis: "/>
    <add key="Terms2" value="2. Freight: "/>
    <add key="Terms3" value="3. Payment: "/>
    <add key="Terms4" value="4. Delivery: "/>
    <add key="Terms5" value="5. Warranty: "/>
    <add key="SpecialInstructions" value="Special instruction:"/>
    <add key="SplLine1" value="1. Send Delivery challan and Original invoice along with the material"/>
    <add key="SplLine2" value="2. Please mention our P.O No on your Invoice"/>
    <add key="Rejections" value="Rejection:"/>
    <add key="RejLine1" value="If material received is found faulty or not matching with required specifications, we will intimate you within one week from receiving the material. Such material will be rejected and will be sent back at the cost and risk of supplier"/>
    <add key="PreparedBy" value="Prepared By"/>
	<add key="VerifiedBy" value="Verified By"/>
	<add key="ApprovedBy" value="Approved By"/>
    <add key="Sign" value="Authorised Signatory"/>
    <add key="ReportGeneratedPath" value="C:\OutputFile\"/>
    <add key="InputFilePath" value="C:\InputFile\Indent\"/>
    <add key="InitializationPath" value="C:\InputFile\"/>
    <add key="TargetReportPath" value="C:\InputFile\Processed\"/>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="MailFrom" value="oms@slppre-new.in"/>
    <add key="Host" value="mail.slppre-new.in"/>
    <add key="Username" value="oms@slppre-new.in"/>
    <add key="Port" value="587"/>
    <add key="Password" value="NSMpb@123"/>
  </appSettings>
</configuration>
