<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SqlConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=OrderManagement;Integrated Security=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="CompanyHeader" value="SLPP RENEW LLP"/>
    <add key="CompanyName" value="M/s. SLPP RENEW LLP"/>
    <add key="CompanyAddressLine1" value="Factory : No. 22/985, Raghavana Palya, 9th Phase"/>
    <add key="CompanyAddressLine2" value="JP nagar, Bangalore-560083, Karnataka, India"/>
    <add key="CompanyContactNo" value="Contact: +919972959032"/>
    <add key="To" value="To"/>
    <add key="Materials" value="Materials to be delivered at"/>
    <add key="Header" value="PURCHASE ORDER"/>
    <add key="IndentHeader" value="INDENT"/>
    <add key="Info" value="Information"/>
    <add key="PONo" value="Purchase Order No"/>
    <add key="IndentNo" value="Indent No"/>
    <add key="PODate" value="Purchase Order Date"/>
    <add key="IDate" value="Indent Date"/>
    <add key="RefNo" value="Reference No"/>
    <add key="RefDate" value="Reference Date"/>
    <add key="Attn" value="Kind Attention"/>
    <add key="Remarks" value="Remarks"/>
    <add key="GSTNo" value="GST No"/>
    <add key="IECNo" value="IEC No"/>
    <add key="Page" value="Page"/>
    <add key="Words" value="In Words"/>
    <add key="SubTotal" value="Sub-Total"/>
    <add key="GST" value="GST @ 18%"/>
    <add key="FinalTotal" value="Final Total"/>
    <add key="Terms" value="Terms and Conditions"/>
    <add key="Terms1" value="1. Price basis: Ex-godown, Bengaluru"/>
    <add key="Terms2" value="2. Freight: Extra at actuals"/>
    <add key="Terms3" value="3. Payment: 40% advance along with Purchase Order, balance 60% against proforma invoice before taking delivery"/>
    <add key="Terms4" value="4. Delivery: 7 days from the date of confirmed order"/>
    <add key="Terms5" value="5. Warranty: 12 months from the date of invoice"/>
    <add key="SpecialInstructions" value="Special instruction:"/>
    <add key="SplLine1" value="1. Send Delivery challan and Original invoice along with the material"/>
    <add key="SplLine2" value="2. Please mention our P.O No on your Invoice"/>
    <add key="Rejections" value="Rejection:"/>
    <add key="RejLine1" value="If material received is found faulty or not matching with required specifications, we will intimate you within one week from receiving the material. Such material will be rejected and will be sent back at the cost and risk of supplier"/>
    <add key="For" value="For "/>
    <add key="Sign" value="Authorised Signatory"/>
    <add key="ReportGeneratedPath" value="C:\OutputFile\"/>
  </appSettings>
</configuration>
